# Week 3: Identify Risk Factors for Infection

<span style="color:red">
**UPDATE**

Thank you again for the previous analysis. We will next be publishing a public health advisory that warns of specific infection risk factors of which individuals should be aware. Please advise as to which population characteristics are associated with higher infection rates. 
</span>

Your goal for this notebook will be to identify key potential demographic and economic risk factors for infection by comparing the infected and uninfected populations.

## Imports

In [2]:
import cudf
import cuml

## Load Data

Begin by loading the data you've received about week 3 of the outbreak into a cuDF data frame. The data is located at `./data/week3.csv`. For this notebook you will need all columns of the data.

In [3]:
gdf = cudf.read_csv('./data/week3.csv')
print(gdf.dtypes)
gdf.shape

age             int64
sex            object
employment     object
infected      float64
dtype: object

(58479894, 4)

## Calculate Infection Rates by Employment Code

Convert the `infected` column to type `float32`. For people who are not infected, the float32 `infected` value should be `0.0`, and for infected people it should be `1.0`.

In [4]:
gdf['infected'] = gdf['infected'].astype('float32')

In [12]:
infected_df = gdf[gdf['infected'] == 1].reset_index(drop=True)

        age sex employment  infected
293702   90   f          V       1.0
293703   90   f          V       1.0
293704   90   f          V       1.0
293705   90   f          V       1.0
293706   90   f          V       1.0

Now, produce a list of employment types and their associated **rates** of infection, sorted from highest to lowest rate of infection.

**NOTE**: The infection **rate** for each employment type should be the percentage of total individuals within an employment type who are infected. Therefore, if employment type "X" has 1000 people, and 10 of them are infected, the infection **rate** would be .01. If employment type "Z" has 10,000 people, and 50 of them are infected, the infection rate would be .005, and would be **lower** than for type "X", even though more people within that employment type were infected.

In [7]:
rate = gdf[['employment', 'infected']].groupby(['employment'])

In [15]:
infected = infected_df[['employment', 'infected']].groupby(['employment'])

In [10]:
rate.count()

            infected
employment
K            1122406
X             181988
V           10098466
Z            7161907
B, D, E       486785
C            2653753
M            2214336
O            1843446
U           12459115
J            1180372
R, S, T      1669197
F            2075628
Q            3802602
I            1556575
L             346470
A             305755
G            3549465
P            3006149
H            1398342
N            1367137

In [16]:
infected.count()

            infected
employment
R, S, T         8997
Q              48505
G              17561
V              76648
I              16116
M              10578
F               6604
O               9741
N               6541
U               2702
K               5356
P              18609
X                826
A               1178
B, D, E         1837
C              10301
Z              40498
L               1722
J               4650
H               4737

Finally, read in the employment codes guide from `./data/code_guide.csv` to interpret which employment types are seeing the highest rates of infection.

In [19]:
final = infected.count()/rate.count()

In [21]:
final.sort_values(ascending=False)

TypeError: sort_values() missing 1 required positional argument: 'by'

## Calculate Infection Rates by Employment Code and Sex

We want to see if there is an effect of `sex` on infection rate, either in addition to `employment` or confounding it. Group by both `employment` and `sex` simultaneously to get the infection rate for the intersection of those categories.

## Take the Assessment

After completing the work above, visit the *Launch Section* web page that you used to launch this Jupyter Lab. Scroll down below where you launched Jupyter Lab, and answer the question *Week 3 Assessment*. You can view your overall progress in the assessment by visiting the same *Launch Section* page and clicking on the link to the *Progress* page. On the *Progress* page, if you have successfully answered all the assessment questions, you can click on *Generate Certificate* to receive your certificate in the course.

![launch_task_page](./images/launch_task_page.png)

<div align="center"><h2>Optional: Restart the Kernel</h2></div>

If you plan to continue work in other notebooks, please shutdown the kernel.

In [ ]:
import IPython
app = IPython.Application.instance()
app.kernel.do_shutdown(True)